[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
uvicorn = "*"
spotipy = "*"
python-dotenv = "*"
tekore = "*"
basilica = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
gunicorn = "*"

[requires]
python_version = "3.8"
